.gridRow {
  fill: #fff;
}

.gridRow:nth-child(even) {
 /* fill: #f5f5f5;*/
}

.gridRowLine {
  stroke: #ebeff2;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.gridTick {
  stroke: #e6e4e4;
}
